.root {
    padding-top: 3%;
    padding-bottom: 3%;
    height: 231px;

    display: grid;
    grid-template-rows: 10% 50% 15%;
    row-gap: 10%;
}

.root main {
    display: grid;
    grid-template-rows: 45% 30%;
    row-gap: 10%;
}

.ava_fio {
    display: grid;
    grid-template-columns: 13% 80%;
    column-gap: 3%;
}

.ava {
    border-radius: 100%;
    background-color: #DDE3EB;
}

.root footer {
    display: grid;
    grid-template-columns: 32% 63%;
    column-gap: 5%;
    justify-items: start;
}

.button_restore {
    width: 100%;
    border-radius: 5px;
    display: grid;
    align-content: center;
    justify-content: center;

    text-decoration: none;
}
.button_cancel {
    width: 42%;
    border-radius: 5px;

    display: grid;
    align-content: center;
    justify-content: center;

    text-decoration: none;
}