.root {

    display: grid;
    grid-template-rows: 34px 35px;
    row-gap: 30px;
}

.root header {
    font-size: 1.2em;
}
.ava_fio {
    display: grid;
    grid-template-columns: 13% 80%;
    column-gap: 3%;
}

.ava {
    border-radius: 100%;
    background-color: #DDE3EB;
}

.root footer {
    display: grid;
    grid-template-columns: 32% 63%;
    column-gap: 5%;
    justify-items: start;
}

.button_restore {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    display: grid;
    align-content: center;
    justify-content: center;

    text-decoration: none;
    font-size: 1em;
}
.button_cancel {
    width: 42%;
    height: 35px;
    border-radius: 5px;

    display: grid;
    align-content: center;
    justify-content: center;

    text-decoration: none;
    font-size: 1em;
}