.form {
    display: grid;
    grid-template-rows: 60% 20%;
    row-gap: 10%;
    min-height: 25vh;
}

.leg_inputs {
    display: grid;
    grid-template-rows: 15% 75%;
    row-gap: 7%;
}

.inputs {
    width: 100%;
    display: grid;
    grid-template-rows: 45% 45%;
    row-gap: 10%;
}


input {
    height: 10%;
}

.text {
    display: grid;
    grid-template-rows: 40% 60%;
}


.text p {
    margin: 0;
    font-size: 0.8rem;
}

.navlink {
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}