.root {
    display: grid;
    grid-template-rows: 40% 45%;
    row-gap: 15px;
    justify-items: center;
}
.root p {
    margin: 0;
    height: 38px;
}

.button {
    border: none;
    background-color: #855BD9;
    color: #FFFFFF;

    width: 25%;
    height: 42px;
    border-radius: 20px;
}