.rootChangeEmail {
    padding: 0 0 3% 0;
    width: 70%;
}

.form {
    height: 100%;
    display: grid;
    grid-template-rows: auto 37px auto;
    row-gap: 10px;
}

.form main {
    padding: 0;
    display: grid;
    grid-template-rows: 45% 45%;
    row-gap: 5px;
}