.rootChangePassword {
    padding: 1% 0 0 0;
    height: 14vh;
    width: 70%;
}

.rootChangePassword input {
    height: 100%;
    background-color: transparent;
    border: 1px solid rgba(179, 189, 199, 1);
    border-radius: 5px;

    padding: 0 5% 0 5%;
}

.rootChangePassword main section {
    display: grid;
    grid-template-columns: 35% 45%;
    column-gap: 20%;
}

.rootChangePassword section button {
    height: 100%;
    border: none;
    border-radius: 5px;
}

.setOldPassword {
    height: 100%;
    display: grid;
    grid-template-rows: 35% 60%;
    row-gap: 5%;
}

.setOldPassword main {
    padding: 0;
    display: grid;
    grid-template-rows: 40% 47%;
    row-gap: 13%;
}

.setOldPassword legend {
    font-size: 0.9em;
}