.rootChangePassword {
    padding: 1% 0 0 0;
    width: 70%;
}

.rootChangePassword input {
    height: 100%;
    background-color: transparent;
    border: 1px solid rgba(179, 189, 199, 1);
    border-radius: 5px;

    padding: 0 5% 0 5%;
}

.rootChangePassword main section {
    display: grid;
    grid-template-columns: 35% 45%;
    column-gap: 20%;
}

.rootChangePassword section button {
    border: none;
    border-radius: 5px;
}

.setOldPassword {
    display: grid;
    grid-template-rows: 51px auto;
    row-gap: 10px;
}

.setOldPassword main {
    padding: 0;
    display: grid;
    grid-template-rows: 31px 37px;
    row-gap: 10px;
}

.setOldPassword legend {
    font-size: 0.9em;
}