.page {
    width: 932px;
    height: 633px;

    border-radius: 20px;
    background-color: #fff;
    z-index: 2;

    display: grid;
    grid-template-columns: 604px auto;
    column-gap: 15px;
}

.photo {
    width: 604px;
    height: 633px;
    border-radius: 20px 0 0 20px;
}

.body {
    display: grid;
    grid-template-rows: 78px 50px auto;
    row-gap: 20px;

    padding: 20px 20px 20px 0;

}

.user {
    max-height: 150px;
    display: grid;
    grid-template-columns: 45px auto;
    column-gap: 5px;
    padding: 10px 5px 5px 0;
}

.user_ava {
    width: 45px;
    height: 45px;
}

.nickname {
    color: #5F6E78;
}
.userPostData {
    height: 78px;
    display: grid;
    grid-template-rows: 19px auto 19px;
    row-gap: 10px;

}

.header {
    height: 19px;
    display: grid;
    grid-template-columns: auto 28px;
    column-gap: 5px;
}

.nameNick {
    display: flex;
    align-items: center;
    gap: 5px;
}

.settingPost {
    width: 28px;
    height: 6px;
}

.likeComments {
    display: flex;
    gap: 10px;
    align-items: center;
}

.likeComments section {
    display: grid;
    grid-template-columns: 17px auto;
    column-gap: 5px;
}

.button {
    display: flex;
    flex-flow: row nowrap;
    background-color: transparent;
    border: none;
    padding: 0;
}
.button img {
    width: 17px;
    height: 17px;
}

.footer {
    display: grid;
    grid-template-columns: 45% 55%;
}

.comments {
    padding: 0 0 10px 0;
    overflow-y: hidden;
}

.settingComment {
    width: 28px;
    height: 6px;
}

.deleteComment {
    position: relative;
    left: 68%;
    width: 100px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 #00000040;
    border-radius: 15px;

    display: grid;
    align-items: center;
    justify-items: center;
}

::-webkit-scrollbar {
    width: 8px;
    display: flex;
    gap: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #DDE3EB;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}