.root {
    height: 100%;
    min-height: 31vh;
    max-height: 295px;
}

.form {
    height: 100%;
    display: grid;
    grid-template-rows: 70% 15%;
    row-gap: 5%;
}

.inputs {
    width: 100%;
    max-height: 217px;
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
    row-gap: 6%;
}

.main form button {
    border: none;
    color: #F7F5FF;
    background-color: #855BD9;
    font-weight: 700;
    font-size: 0.9em;
}

.button {
    display: grid;
    align-content: center;
    justify-content: center;

    text-decoration: none;
}