.content {
    max-height: 583px;
}

.form {
    height: 100%;

    display: grid;
    grid-template-rows: 75% 15%;
    row-gap: 5%;
}

.inputs {
    width: 100%;
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
    row-gap: 5%;
}

.main form button {
    height: 90%;
    border: none;
    color: #F7F5FF;
    background-color: #855BD9;
    font-weight: 700;
    font-size: 0.9em;
}