.div {
    width: 885px;
    height: 98%;
    background-color: #FFFFFF;

    border-radius: 20px;
}

.main {
    margin: 0 15px 15px 15px;
    display: grid;
    grid-template-rows: 63px auto;
    row-gap: 20px;
}

.main header {
    display: grid;
    grid-template-columns:  30px auto;
    column-gap: 20px;
    align-items: center;
    border-bottom: 1px solid #DDE3EB;
}

.main header img {
    height: 20px;
    width: 24px;
    display: grid;
    justify-self: center;
}

.main header section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
}

.allPhoto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.allPhoto section {
    height: 275px;
    width: 275px;
    border-radius: 10px;
}

.userPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}