.friendPhoto0 {
    order: 6;
}

.friendPhotoSection0:hover {
    .friendPhoto0:hover + .friendMiniProfile0 {
        display: grid;
    }
}

.friendPhoto1 {
    order: 5;
}

.friendPhoto1:hover + .friendMiniProfile1 {
    display: grid;
}

.friendPhoto2 {
    order: 4;
}

.friendPhoto2:hover + .friendMiniProfile2 {
    display: grid;
}

.friendPhoto3 {
    order: 3;
}

.friendPhoto3:hover + .friendMiniProfile3 {
    display: grid;
}

.friendPhoto4 {
    order: 2;
}

.friendPhoto4:hover + .friendMiniProfile4 {
    display: grid;
}

.friendPhoto5 {
    order: 1;
}

.friendPhoto5:hover + .friendMiniProfile5 {
    display: grid;
}

.friendMiniProfile0 {
    display: none;
}

.friendMiniProfile1 {
    display: none;
}

.friendMiniProfile2 {
    display: none;
}

.friendMiniProfile3 {
    display: none;
}

.friendMiniProfile4 {
    display: none;
}

.friendMiniProfile5 {
    display: none;
}
