.new_post_window {
    position: absolute;
    top: 30%;
    left: 33%;
    width: 500px;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 15px 0 rgba(95, 110, 120, 1);
    border-radius: 20px;

    z-index: 2;

}

.root {
    padding: 35px 70px 35px 70px;
    display: grid;
    grid-template-rows: 24px 38px 35px;
    row-gap: 30px;
    justify-items: center;
}

.root div {
    margin: 0;
    font-size: 1.3em;
    font-weight: 600;
}

.root section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.root p {
    margin: 0;
}

.cancel {
    height: 100%;
    width: 122px;
    border: none;
    border-radius: 10px;
    background-color: rgba(221, 227, 235, 1);
    color: rgba(59, 69, 79, 1);

    display: grid;
    justify-self: left;
    align-items: center;

    font-weight: 600;
}

.next {
    height: 100%;
    width: 122px;
    border: none;
    border-radius: 10px;
    background-color: rgba(224, 45, 45, 1);
    color: rgba(255, 255, 255, 1);

    display: grid;
    justify-self: end;
    align-items: center;

    font-weight: 600;
}

.deleteButton {
    border: none;
    background-color: transparent;

    font-weight: 600;
}