.bg_photo {
    border-radius: 20px;
    background-color: #D2C1F4;
    height: 130%;
}

.bg_photo {
    width: 100%;
    height: 130%;
}

.bg_photo img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.name {
    font-size: 1.2em;
    font-weight: 600;
}
.userName {
    color: #8791A1;
    font-size: 0.9em;
}

.figure {
    width: 120px;
    height: 120px;
    position: absolute;
    margin: 0;

    top: 10%;

    border-radius: 50%;
    border: 3px solid rgba(246, 246, 254, 1);
    overflow: hidden;
}

.figure img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}