.overflay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;

    z-index: 0;
}

.location_edit_window {
    display: grid;
    align-items: center;
    justify-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.edit_prof_window {
    position: relative;
    top: 0;
    left: 0;
    width: 46%;
    max-width: 671px;
    height: 65%;
    max-height: 652px;

    background-color: rgba(247, 245, 255, 1);
    box-shadow: 0 0 15px 0 rgba(95, 110, 120, 1);
    border-radius: 20px;

    z-index: 2;
}

.edit_form {
    height: 88%;
    padding: 6%;

    display: grid;
    grid-template-rows: 35% 64%;
    row-gap: 1%;
}

.form_cont {
    display: grid;
    grid-template-rows: 78% 13%;
    row-gap: 9%;
}

.bgc_and_ava {
    display: grid;
    grid-template-rows: 70% 30%;
}


.bgc_profile {
    height: 100%;
    border-radius: 20px;
    background-color: rgba(210, 193, 244, 1);

    z-index: 400;

    transition: 1s;
}

.img_cover {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    z-index: 200;

    transition: 1s;
}

.img_cover:hover {
    background-image: url('../../../../../../assets/images/other/new_photo.svg');
    filter: brightness(90%);
    background-position: center;
}

.bgc_profile:focus .det_delete_bgc {
    display: grid;
}

.det_delete_bgc {
    display: none;
    grid-template-rows: 50% 50%;
    align-items: center;
    padding: 1% 4% 1% 5%;

    position: absolute;
    top: 20%;
    left: 85%;

    width: 19%;
    height: 11%;
    z-index: 500;

    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(247, 245, 255, 1);
    border-radius: 15px;
}

.det_delete_bgc section:hover {
    background-color: rgba(65, 72, 109, 0.2);
    z-index: 450;
}

.edit_prof_window .ava {
    position: relative;
    top: -70px;
    left: 20px;
    height: 250%;
    width: 100%;
    max-height: 114px;
    max-width: 114px;

    border-radius: 50%;
    border: 3px solid rgba(247, 245, 255, 1);

    z-index: 400;
}

.img_ava {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 200;
    transition: 1s;
}

.img_ava:hover {
    background-image: url('../../../../../../assets/images/other/new_photo.svg');
    filter: brightness(90%);
    background-position: center;

    z-index: 450;

}

.ava:focus .det_delete_ava {
    display: grid;
}

.det_delete_ava {
    display: none;
    grid-template-rows: 50% 50%;
    align-items: center;
    padding: 5% 27% 5% 27%;

    position: absolute;
    top: 60%;
    left: 70%;

    width: 110%;
    height: 62%;
    z-index: 500;

    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(247, 245, 255, 1);
    border-radius: 15px;
}
.det_delete_ava section:hover {
    background-color: rgba(65, 72, 109, 0.2);
}


.delete {
    border: none;
    background-color: transparent;
}

.form {
    display: grid;
    grid-template-areas:
            'A  B'
            'C  D'
            'E  E';
    grid-template-columns: 44% 44%;
    column-gap: 12%;
}
.box1 {
    grid-area: A;
}
.box2 {
    grid-area: B;
}
.box3 {
    grid-area: C;
}
.box4 {
    grid-area: D;
}
.textAreaBox {
    grid-area: E;

    display: grid;
    grid-template-rows: 15% 85%;
    row-gap: 5%;
}
.textAreaBox textarea {
    width: 94%;

    padding: 3%;

    border-radius: 20px;
    border: 1px solid rgba(95, 110, 120, 1);
    background-color: transparent;
    resize: none;
}

.form section[class*="box"] {
    display: grid;
    grid-template-rows: 25% 70%;
    row-gap: 5%;
}

.form input {
    width: 94%;
    padding: 0 3% 0 3%;
    height: 70%;

    border-radius: 10px;
    border: 1px solid rgba(95, 110, 120, 1);
    background-color: transparent;
    font-size: 1em;
}

.form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.edit_form legend {
    font-weight: 600;
}

.edit_form footer {
    display: grid;
    grid-template-columns: 23% 23%;
    column-gap: 54%;
}

.edit_form footer button {
    border: none;
    border-radius: 25px;
    font-size: 1em;
    font-weight: 600;
}

.cancel {
    background-color: rgba(210, 193, 244, 1);
    color: rgba(84, 49, 153, 1);
}

.save {
    background-color: rgba(133, 91, 217, 1);
    color: rgba(246, 246, 254, 1);
}