.profile_icons {
    display: grid;
    justify-self: end;
}

.bio_row {
    display: grid;
    grid-template-columns: 18% 60% 15%;
    column-gap: 3%;
}

.aside {
    height: 45%;

    display: grid;
    grid-template-rows: 30% 42% 10%;
    row-gap: 5%;
}

.aside button section {
    display: grid;
    grid-template-columns: 40% 55%;
    column-gap: 3%;
    justify-items: left;
    align-items: center;
}

.aside button {
    height: 100%;
    width: 100%;

    background-color: #855BD9;
    color: #F6F6FE;
    border: none;
    border-radius: 20px;

    font-size: 1.2em;
}

.aside button img {
    display: grid;
    justify-self: end;
    width: 30%;
}

.bgc_profile {

}

.ava {

}
