.friends {
    max-width: 615px;
    display: grid;
    grid-template-rows: 5% 95%;

    background-color: #F7F5FF;
    border-radius: 20px 20px 0 0;
    border: 1px solid #DDE3EB;
    border-bottom: none;

}

.friends_searching {
    display: grid;
    grid-template-columns: 3% 96%;
    column-gap: 2%;
    align-content: center;
    padding: 2% 5% 2% 5%;

    border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.friends_searching img {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 100%;
}

.friends_searching input {
    height: 100%;
    border: none;
    background-color: rgba(246, 246, 254, 1);
    font-size: 1.1em;
}

.friends_searching input::-webkit-input-placeholder {
    color: #DDE3EB;
}

.friends_list {
    display: grid;
    row-gap: 20px;

    padding: 15px 3% 15px 3%;
}

.one_friend {
    height: 50px;
    display: grid;
    grid-template-columns: 9% 69% 17%;
    column-gap: 3%;
}

.friend_ava {
    border-radius: 100%;
    background-color: #DDE3EB;
}

.friend_nickname {
    color: #8791A1;
}

.friend_data {
    display: grid;
    grid-template-rows: 70% 25%;
    row-gap: 5%;
}

.friend_functional {
    display: grid;
    width: 90%;
    grid-template-columns: 48% 48%;
    column-gap: 5%;
    justify-self: end;
    align-self: center;
}

.friend_functional img {
    width: 80%;
}

.nav_friends {
    display: grid;
    grid-template-rows: 1fr 1fr;

    height: 8vh;
    padding: 4% 0 4% 0;
    border-radius: 15px;
    background-color: #F7F5FF;
    border: 1px solid #DDE3EB;
}

.nav_friends section {
    display: grid;
    align-content: center;
}


.nav_friends section button {
    padding: 0 8% 0 8%;
    text-align: left;
    border: none;
    background-color: rgba(246, 246, 254, 1);

    font-size: 1em;
}

.nav_friends button:focus {
    background-color: #DDE3EB;
}

