.rootNewPassword {
    height: 16vh;
    width: 70%;
}

.newPasswordForm {
    height: 100%;
    display: grid;
    grid-template-rows: 69% 24%;
    row-gap: 7%;
}

.newPasswordInputs {
    display: grid;
    grid-template-rows: 29% 29% 29%;
    row-gap: 6%;
}
