.div {
    display: grid;
    row-gap: 20px;
}

.functional {
    display: grid;
    grid-template-rows: 60% 40%;

}

.form {
    height: 175px;
    display: grid;
    grid-template-rows: 57% 28%;
    row-gap: 15px;

    justify-items: center;
}

.inputs {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-rows: 45% 45%;
    row-gap: 10px;
}

.functional button {
    width: 100%;
}

.forgot_button {
    height: 24px;
    background-color: transparent;
    border: none;

    font-family: 'Inter', sans-serif;
}

.functional button {
    border-radius: 10px;

    font-family: 'Inter', sans-serif;
}

.form a {
    width: 100%;
    height: 100%;
}

.other_buttons {
    display: grid;
    grid-template-rows: 20% 15% 45%;
    row-gap: 10px;
    font-size: 0.9em;
}

.a {
    display: grid;
    align-items: end;

    text-decoration: none;
}

.registration_button {
    height: 45px;
    background-color: transparent;
    border: 2px solid #855BD9;
    color: #855BD9;

    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.or {
    display: grid;
    grid-template-columns: auto 7% auto;
    column-gap: 2%;

    align-items: center;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color: rgba(140, 143, 149, 1);
    height: 1px;
}
