.page {
    height: 40vh;
    width: 100%;

    display: grid;
    grid-template-rows: 50px auto;
    row-gap: 5%;
}

.page header {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 600;
}

.page header img {
    width: 80%;
}

.links{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6, 13%) 20%;

    align-items: center;
}

.svg_link {
    height: 100%;
    display: grid;
    grid-template-columns: 20% auto;
    column-gap: 10%;
    align-items: center;
}

.svg_link:hover {
    background-color: rgba(221, 227, 235, 1);
    border-radius: 5px;
}

.img {
    width: 70%;
    display: grid;
    justify-self: end;
    align-self: center;
}

.button_nav {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}

.more {
    justify-items: center;
}

.more_section {
    display: grid;
    grid-template-columns: 75% 20%;
    column-gap: 5%;
}

.more_section button {
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: start;
}

.icon_more_op {
    display: grid;
    justify-self: start;
    align-self: center;
}

.more_settings {
    height: 100%;
    display: grid;
    grid-template-rows: 40% 40%;
    row-gap: 20%;
}

.more_settings section {
    display: grid;
    grid-template-columns: 25% 70%;
    column-gap: 5%;
    align-content: end;
}

.button_set_theme {
    background-color: transparent;
    border: none;

    display: grid;
    align-self: end;
    justify-self: start;
    padding: 0;

    color: rgba(135, 145, 161, 1);
    font-size: 1em;
}

.button_exit {
    width: 100%;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #000;

    font-weight: 600;

    text-align: start;
    padding: 0;

    font-size: 1em;
}