.page {
    padding: 20px 0 20px 0;
    width: 100%;
    display: grid;
    grid-template-rows: 50px auto;
    row-gap: 5%;

    border-bottom: 1px solid #D9D9D9;
}

.page header {
    width: 100%;
    display: grid;
    grid-template-columns: 9% 87%;
    column-gap: 3%;

}

.name_and_status {
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: left;
}

.page header div {
    width: 100%;
}

.post_author_img {
    border-radius: 100%;
    background-color: #DDE3EB;
    overflow: hidden;
}

.name {
    font-size: 0.9em;
}
.userName {
    font-size: 0.9em;
    color: rgba(135, 145, 161, 1);

}

.post {
    display: grid;
    grid-template-rows: 60% 35%;
    row-gap: 5%;
}

.photo_post {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
}

.photo_post section {
    width: 100%;

    border-radius: 7px;
    background-color: #D9D9D9;
}