.one_friend {
    height: 60px;
    display: grid;
    grid-template-columns: 60% 37%;
    column-gap: 3%;

    margin: 10px 0 25px 0;
}

.navlink {

    text-decoration: none;
    color: rgba(8, 7, 18, 1);
    display: grid;
    grid-template-columns: 60px auto;
    column-gap: 3%;
}

.friend_ava {
    width: 60px;
    height: 60px;

    border-radius: 100%;
    background-color: #DDE3EB;
}

.friend_ava img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.friend_nickname {
    color: #8791A1;
}
.friend_name {
    font-weight: 600;
}

.friend_data {
    height: 100%;
    display: grid;
    grid-template-rows: 70% 25%;
    row-gap: 5%;
}

.name_nick_header {
    height: 95%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.friend_functional {
    display: grid;
    grid-template-columns: auto 35px;
    column-gap: 15px;
    justify-self: end;
    align-self: start;
}

.friend_functional button {
    padding: 0;
    display: grid;
    justify-items: end;
}

.button {
    width: 35px;
    height: 35px;

    background-color: transparent;
    border: none
}
.button img {
    width: 100%;
    height: 100%;
}

.main_button {
    width: auto;
    height: 35px;
    display: grid;
    align-items: center;
    justify-items: center;

    background-color: transparent;
    border: none
}

.friend_functional_subscribers{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33px auto;
    column-gap: 5%;
    justify-self: end;
    align-self: start;
}
.chat {
    border: none;
    background-color: transparent;
    padding: 0;
    display: grid;
    justify-items: end;
}
.chat img {
    width: 33px;
    height: 33px;
}

.section_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.section_buttons button {
    border-radius: 20px;
    border: none;

    height: 31px;
    padding: 0 20% 0 20%;
    display: grid;
    grid-template-columns: 13px auto;
    column-gap: 10%;
    justify-items: center;
    align-items: center;
}

.add {
    background-color: #855BD9;
    color: #FFFFFF;
}
.delete {
    background-color: #D2C1F4;
    color: #543199;
}