.section {
    overflow: auto;
    display: grid;
    grid-template-rows: 150px auto 50px;

    margin: 4% 7% 4% 7%;
}

.section textarea {
    height: 150px;
}

.section textarea:focus{
    outline: none;
}

.new_post_window {
    position: absolute;
    top: 30%;
    left: 33%;
    width: 600px;

    background-color: rgba(247, 245, 255, 1);
    box-shadow: 0 0 15px 0 rgba(95, 110, 120, 1);
    border-radius: 20px;

    z-index: 2;
}


.new_post_window textarea {
    border: none;
    resize: none;
    background-color: transparent;
    font-size: 1.1em;
}

.new_post_window footer {
    padding: 2% 0 0 0;
    border-top: 1px solid rgba(221, 227, 235, 1);
    display: grid;
    grid-template-columns: 50% 50%;
}

.new_post_window footer section {
    display: grid;
    grid-template-columns: 33% 60%;
    column-gap: 7%;
    justify-items: end;
}

.label {
    display: grid;
    align-items: center;
}

.new_post_window footer section img {
    display: grid;
    align-self: center;
}

.cancel {
    width: 49%;
    border-radius: 25px;
    border: none;
    background-color: rgba(210, 193, 244, 1);
    color: rgba(84, 49, 153, 1);
}

.publish {
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: rgba(133, 91, 217, 1);
    color: rgba(246, 246, 254, 1);
}

.input_photo2 {
    width: 100%;
    margin: 15px 0 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 240px;
    grid-auto-columns: 240px;
    row-gap: 10px;
    column-gap: 10px;
}
.input_photo3 {
    width: 100%;
    margin: 15px 0 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 240px;
    grid-auto-columns: 150px;
    row-gap: 10px;
    column-gap: 10px;
}

.input_photo4 {
    width: 100%;
    margin: 15px 0 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 150px;
    grid-auto-columns: 240px;
    row-gap: 10px;
    column-gap: 10px;
}

.input_photo5 {
    width: 100%;
    margin: 15px 0 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 150px;
    grid-auto-columns: 240px;
    row-gap: 10px;
    column-gap: 10px;
}

.one_photo {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.delete_photo {
    display: grid;
    position: relative;
    bottom: 95%;
    left: 80%;
}