.functional {
    display: grid;
    grid-template-rows: 35% 60%;

    min-height: 23vh;
}
.form {
    display: grid;
    grid-template-rows: 35% 35%;
    row-gap: 20%;
}

.inputs {
    width: 100%;
    display: grid;
}

input {
    height: 10%;
}

.text {
    display: grid;
    grid-template-rows: 40% 60%;
}


.text p {
    margin: 0;
}