.input {
    padding: 4%;
    min-height: 1vh;
    border-radius: 10px;
    border: 1px solid #BBC4CE;
    font-size: 1.2em;

    font-family: 'Inter', sans-serif;
    background-color: transparent;
}

.header {
    text-align: center;
    font-size: 2.8em;
    font-weight: 700;
}

.button_header {
    border: none;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 600;
}


.main_page_button {
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #855BD9;
    color: #F7F5FF;
    font-weight: 700;
    font-size: 0.9em;
}

.cancel {
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgba(210, 193, 244, 1);
    color: rgba(84, 49, 153, 1);
    font-weight: 700;
    font-size: 0.9em;
}