.div {
    height: 100%;
    width: 70%;

    display: grid;
    justify-self: center;

}

.content {
    width: 400px;
    max-width: 450px;
    display: grid;
    justify-self: end;
    align-self: center;
    grid-template-rows: 60px auto;
    row-gap: 20px;

    padding: 3% 4% 50px 4%;

    border-radius: 20px;
    border: 1px solid #D5E0E5;
    background-color: rgba(255, 255, 255, 1);
}

.content form input::-webkit-input-placeholder {
    color: #5F6E78;
}
