div {
    height: 100%;
    width: 100%;
}

.content {
    width: 400px;
    max-height: 540px;
    position: absolute;
    top: 25%;
    left: 50%;

    display: grid;
    grid-template-rows: 60px auto;
    row-gap: 5%;

    padding: 3% 5% 3% 5%;

    border-radius: 20px;
    border: 1px solid #D5E0E5;
    background-color: #F7F5FF;
}

.content form input::-webkit-input-placeholder {
    color: #5F6E78;
}
