.div {
    width: 885px;
    height: 100%;
}

.friends {
    display: grid;
    height: 97%;
    padding: 0 20px 20px 20px;

    grid-template-rows: 60px 55px auto;

    background-color: #F7F5FF;
    border-radius: 20px 20px 0 0;
    border: 1px solid #DDE3EB;
    border-bottom: none;

}

.selected {
    border-radius: 15px;
    background-color: #F6F6F6;
}

.header {
    width: 100%;
    height: 55%;
    display: grid;
    grid-template-columns: 45% auto;
    align-self: center;
    justify-self: stretch;
}

.header section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 8%;
}

.header img {
    width: 30px;
    height: 30px;
    display: grid;
    justify-self: end;
}


.friends header button {
    padding: 0;
    font-size: 1em;
    border: none;
    background-color: transparent;
    text-align: center;
}

.friends header button:hover {
    border-radius: 15px;
    background-color: rgba(246, 246, 246, 1);
}

.friends_searching {
    padding: 5px 10px 5px 10px;
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 10px;
    align-content: center;

    border-bottom: 1px solid #DDE3EB;
    border-top: 1px solid #DDE3EB;
}

.friends_searching img {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 100%;
}

.friends_searching input {
    height: 100%;
    border: none;
    background-color: rgba(246, 246, 254, 1);
    font-size: 1.1em;
}

.friends_searching input::-webkit-input-placeholder {
    color: #5F6E78;
}

.friends_list {
    padding: 10px 0 15px 0;
}
