
.section_and_edit_button {
    border: none;
    background-color: transparent;
}

.section_and_edit_select {
    width: 40%;
    height: 90%;

    background-color: transparent;
    border: 1px solid rgba(95, 110, 120, 1);
    color: rgba(95, 110, 120, 1);
    border-radius: 5px;
}

.input {
    height: 31px;
    border-radius: 5px;
    border: 1px solid #BBC4CE;

    font-family: 'Inter', sans-serif;
    background-color: transparent;

    padding: 0 5% 0 5%;
}

.buttons {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
}

.button {
    height: 37px;
    border: none;
    border-radius: 5px;
}


.button_save {
    background-color: rgba(133, 91, 217, 1);
    color: rgba(246, 246, 254, 1);
}

.button_cancel {
    background-color: rgba(210, 193, 244, 1);
    color: rgba(84, 49, 153, 1);
}