.rootChangeEmail {
    padding: 1% 0 3% 0;
    height: 14vh;
    width: 70%;

    display: grid;
    grid-template-rows: 50% 25%;
    row-gap: 10%;
}
.root main {
    padding: 0;
    display: grid;
    grid-template-rows: 45% 45%;
    row-gap: 10%;
}

.root main input {
    height: 90%;

    background-color: transparent;
    border: 1px solid rgba(179, 189, 199, 1);
    border-radius: 5px;

    padding: 0 5% 0 5%;
}

.root section {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
}

.root section button {
    border: none;
    border-radius: 5px;

    font-weight: 600;
}

.rootChangePassword {
     padding: 1% 0 3% 0;
     height: 16vh;
     width: 70%;
 }

.setOldPassword {
    display: grid;
    grid-template-rows: 40% 55%;
    row-gap: 5%;
}

.rootChangePassword footer {
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 20%;
}

.rootChangeEmail main input {
    height: 100%;
    border-radius: 5px;
    border: 1px solid #BBC4CE;

    font-family: 'Inter', sans-serif;
    background-color: transparent;
}


.button_save {
    background-color: rgba(133, 91, 217, 1);
    color: rgba(246, 246, 254, 1);
}

.button_cancel {
    background-color: rgba(210, 193, 244, 1);
    color: rgba(84, 49, 153, 1);
}