.root {
}

.settings {
    margin: 0;
    max-width: 615px;
    min-height: 33vh;

    display: grid;


    background-color: #F7F5FF;
    border-radius: 20px;
    border: 1px solid #DDE3EB;

}

.settings main {
    padding: 6% 2% 4% 4%;
    display: grid;
    row-gap: 4vh;
}

.settings footer {
    height: 7vh;
    display: grid;
    justify-items: center;
    align-items: center;

    border-top: 1px solid rgba(221, 227, 235, 1);
}

.settings footer button {
    border: none;
    background-color: transparent;
}

.leg_container {
    min-height: 4vh;
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 10%;
}

.section_and_edit {
    display: grid;
    grid-template-columns: 85% 15%;

    border: rgba(179, 189, 199, 1);
}

.nav_settings {
    display: grid;
    grid-template-rows: 1fr 1fr;

    height: 8vh;
    padding: 4% 0 4% 0;
    border-radius: 15px;
    background-color: #F7F5FF;
    border: 1px solid #DDE3EB;
}

.nav_settings section {
    display: grid;
    align-content: center;
}


.nav_settings section button {
    padding: 0 8% 0 8%;
    text-align: left;
    border: none;
    background-color: transparent;

    font-size: 1em;
}

.nav_settings button:focus {
    background-color: #DDE3EB;
}