.form {
    padding-top: 3%;
    display: grid;
    grid-template-rows: 55% 25%;
    row-gap: 15%;
    min-height: 20vh;
}

.inputs {
    width: 100%;
    display: grid;
    grid-template-rows: 45% 45%;
    row-gap: 10%;
}


input {
    height: 10%;
}

.text {
    display: grid;
    grid-template-rows: 40% 60%;
}


.text p {
    margin: 0;
    font-size: 0.8rem;
}