.content {
    max-height: 384px;
}

.main {
    display: grid;
    grid-template-rows: 25% 70%;
    row-gap: 3%;

    padding: 8%;

    border-radius: 20px;
    border: 1px solid #D5E0E5;
    background-color: #F7F5FF;

}

.main form {
    display: grid;
    grid-template-rows: 55% 25%;
    row-gap: 15%;
}

.inputs {
    width: 100%;
    display: grid;
    grid-template-rows: 45% 45%;
    row-gap: 10%;
}


input {
    height: 10%;
}

.text {
    display: grid;
    grid-template-rows: 40% 60%;
}


.text p {
    margin: 0;
    font-size: 0.8rem;
}